/* ===== >.< Hackathon Styles >.< ===== */

/* === GENERAL === */

body {
	background-color: #20202F;
}
h1 {
	color: #fff;
	font-family: 'Give You Glory', Georgia,sans-serif;
    font-size: 2em;
    font-weight: 300;
}
h2 {
	color: #616176;
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5em;
    font-weight: 500;
    vertical-align: middle;
    margin: 0;
}
h3 {
   color: #616176;
   font-family: "Open Sans",sans-serif;
   font-size: 1.5em;
   font-weight: bold;
   text-align: center;
   text-transform: uppercase;
}
a {
	text-decoration: none;
}
p {
	font-family: 'Open Sans', sans-serif;
	color
}
.clear {
	clear: both;
}
/* === CONTENT === */

#mainContainer {
	width: 100%;
	margin: 0 auto;
}
header {
	background-color: #30303F;
	width: 90%;
	margin: 0 auto 1%;
}
header div#logo {
	float: left;
    margin: 0.5% 0 0 2%;
    width: 40%;
}
#changeCountry {
	float: right;
    margin: 0.5% 0 0;
    width: 15%;
}
#changeCountry img {
	display: inline-block;
    vertical-align: middle;
}
#changeCountry p {
	display: inline-block;
    font-weight: 500;
    margin-left: 1%;
    color: #DDD;
}

/* === COUNTRY BOX === */

#countryBox {
	background-color: #424251;
    border-radius: 24px;
    margin: 1% auto;
    padding: 1% 0;
    width: 87%;
}
.countryTxt {
	width: 90%;
	margin: 0 auto;
	text-align: center;
}
.countryTxt ul {
	display: inline-block;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    width: 63%;
}
.countryTxt ul li {
	display: inline-block;
    line-height: 200%;
    margin: 0 1%;
    vertical-align: bottom;
}
.countryTxt ul li a {
	color: #CACAD8;
	font-family: 'Open Sans', sans-serif;
	font-size: 0.8em;
}
.countryTxt ul li a:hover {
	color: #009688;
}

/* ================ */

.yearWrapper {
    display:none;
}
#tileBox {
	width: 90%;
	margin: 0 auto;
	text-align: center;
}
.tile {
	display: inline-block;
   height: 190px;
   margin-bottom: 4px;
   padding: 1%;
   vertical-align: top;
   width: 143px;
}
.tile p {
	color: #fff;
   font-size: 0.95em;
   font-weight: 400;
   margin: 15px auto 0;
   text-align: center;
   width: 100%;
}
.tile p.tile_total {
   font-size: 0.8em;
}
.coral { background-color: #F44336; }
.green { background-color: #4CAF50; }
.baby { background-color: #2196F3; }
.orange { background-color: #FF8000; }
.mGreen { background-color: #56723D; }
.pink { background-color: #F06292; }
.purple { background-color: #9C27B0; }
.yellow { background-color: #FFC107; }
.teal { background-color: #009688; }
.fiusha { background-color: #923059; }
.gray { background-color: #607D8B; }
.pBlue { background-color: #3F51B5; }
#themeBox {
	width: 90%;
	margin: 20px auto;
	text-align: center;
}
.theme {
    border-radius: 50%;
    display: inline-block;
    margin: 10px 5px;
    padding: 19px 5px;
    text-align: center;
    vertical-align: middle;
    width: 95px;
    transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
}
.theme p {
	font-size: 0.9em;
}

#slideWrapper {
   margin: 30px auto 100px;
   width: 70%;
}
.oldTimes,
.newTimes {
   font-family: 'Open Sans', sans-serif;
   color: #a5a5af;
   margin-top: 10px;
}
.oldTimes {
   float: left;
}
.newTimes {
   float: right;
}
#slider_current {
   color: #009688;
   font-family: "Open Sans",sans-serif;
   font-size: 1.3em;
   font-weight: bold;
   margin: 0 auto 5px;
   width: 50px;
}

/* === FOOTER === */

footer {
  background-color: #30303F;
  width: 90%;
  margin: 0 auto 1%;
  padding: 20px 0;
}
footer p {
  color: #a5a5af;
  font-size: 0.75em;
  text-align: center;
  margin: 10px;
  line-height: 100%;
}
footer img {
  margin-top: 5px;
  vertical-align: bottom;
}
.link {
  color: #a5a5af;
}

/* === LIBRARY BOX === */

#libWrap {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  margin: 50px auto 20px;
  display: none;
} 
.lib {
  display: inline-block;
  vertical-align: top;
  border: 2px solid #607d8b;
  padding: 10px;
  color: #607d8b;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.8em;
  margin: 10px;
}

#overlay {
   background-color: rgba(0,0,0,0.75);
   color: #FFFFFF;
   position: fixed;
   text-align: center;
   padding-top: 20%;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   display: none; 
} 
